<div class="container pb-4 pt-4">

    <!-- <div class="row">
        <div class="col-12 pl-4">
            <a routerLink="/caraddedit" class="btn btn-warning btn-lg float-start" type="button">
                <i class="bi bi-plus-circle"></i> Create Ad
            </a>
        </div>
    </div> -->

    <div class="row">
        <form class="input-form pb-0 pt-0">

            <h5>Search</h5>
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span>Brand</span>
                        </span>
                    </div>
                    <input [formControl]="filter_add_brand" type="text" aria-label="brand" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="d-none d-sm-block">Minimum price</span>
                            <span class="d-block d-sm-none">€ Min.</span>
                        </span>
                    </div>
                    <input [formControl]="filter_min_price" type="number" aria-label="min price" class="form-control">
                    <input [formControl]="filter_max_price" type="number" aria-label="max price" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <span class="d-none d-sm-block">Maximum price</span>
                            <span class="d-block d-sm-none">€ Max.</span>
                        </span>
                    </div>
                </div>
            </div>
            <button (click)="add_filters()" type="button" class="btn btn-warning">
                <i class="bi bi-search"></i> Search
            </button>
        </form>
    </div>
    <div class="row">
        <div class="col-12 p-4">
            <button (click)="sort_brand()" class="btn m-1"
                [ngClass]="current_sort_brand == 'asc' || current_sort_brand == 'desc' ? 'btn-warning' : 'btn-light' "
                type="button">
                @if (current_sort_brand == "desc"){
                <i class="bi bi-sort-down"></i>
                }@else {
                <i class="bi bi-sort-up"></i>
                }
                Brand
            </button>
            <button (click)="sort_year()"
                [ngClass]="current_sort_year == 'asc' || current_sort_year == 'desc' ? 'btn-warning' : 'btn-light' "
                type="button" class="btn  m-1">
                @if (current_sort_year == "desc"){
                <i class="bi bi-sort-down"></i>
                }@else {
                <i class="bi bi-sort-up"></i>
                }
                Year
            </button>
            <button (click)="sort_price()"
                [ngClass]="current_sort_price == 'asc' || current_sort_price == 'desc' ? 'btn-warning' : 'btn-light' "
                type="button" class="btn  m-1">
                @if (current_sort_price == "desc"){
                <i class="bi bi-sort-down"></i>
                }@else {
                <i class="bi bi-sort-up"></i>
                }
                Price
            </button>

            <button (click)="change_results_per_page()" type="button" class="btn btn-warning m-1">
                <!-- <i class="bi bi-file-earmark"></i>  -->
                {{per_page}} x <i class="bi bi-car-front"></i>
            </button>

            @if(min_price_saved!=""){
            <button (click)="filter_min_price_remove()" type="button" class="btn btn-warning m-1">
                <i class="bi bi-x-circle"></i> Min price: {{min_price_saved}} €</button>
            }

            @if(max_price_saved!=""){
            <button (click)="filter_max_price_remove()" type="button" class="btn btn-warning m-1">
                <i class="bi bi-x-circle"></i> Max price: {{max_price_saved}} €</button>
            }

            @for (b of filter_brands; track b) {
            <button (click)="filter_brand_remove(b.toString())" type="button" class="btn btn-warning m-1">
                <i class="bi bi-x-circle"></i> {{b}}</button>

            }

            @if(apiService.isAdmin()=="true"){
            <a [routerLink]="['car/add']" class="btn btn-warning btn float-end m-1" type="button">
                <i class="bi bi-plus-circle"></i> Create Ad
            </a>
            }
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6  g-1 pb-3">
            @for (car of cars; track car.id) {
            <div [routerLink]="['car', car.id]" class="col card-car"><!--car-->
                <div class="card">
                    @if(apiService.isAdmin()=="true"){
                    <a [routerLink]="['car', car.id, 'edit']" class="btn btn-warning btn-md button-edit" type="button">
                        <i class="bi bi-tools"></i>
                    </a>
                    }
                    @if(apiService.isAuthenticated()){
                        @if(doiLikeThisCar(car)){
                            <button (click)="unlike(car.id.toString()); $event.stopPropagation();false" class="btn btn-warning btn-md button-like" type="button">
                                    <i class="bi bi-suit-heart-fill"></i>
                            </button>
                        }@else {
                            <button (click)="like(car.id.toString()); $event.stopPropagation();false" class="btn btn-warning btn-md button-like" type="button">
                                    <i class="bi bi-suit-heart"></i>
                            </button>
                        }
                    }
                    <img class="card-img-top" src="{{car_image_home_url}}/image_uploads/{{car.image_name}}"
                        alt="Card image cap">
                    <div class="card-body p-1">
                        <p class="card-text">
                            <b>{{car.brand}}</b> {{car.model}}
                            <br>{{car.year}}
                        </p>
                        <p class="bg-warning text-center mb-0"><b>{{car.price}} €</b></p>
                        <!-- <a href="#" class="btn btn-primary">Go</a> -->
                    </div>
                </div>
            </div>
            } @empty {
            <!-- <div routerLink="/car" class="col card-car">
                    <div class="card">
                        <a routerLink="/caraddedit" class="btn btn-warning btn-md button-edit" type="button">
                            <i class="bi bi-tools"></i>
                        </a>
                        <img class="card-img-top" src="header_img.jpg" alt="Card image cap">
                        <div class="card-body p-1">
                            <p class="card-text">
                                <b>brand</b> model
                                <br>year
                            </p>
                            <p class="bg-warning text-center mb-0"><b>Price</b></p>
                        </div>
                    </div>
                </div> -->
            }
        </div>
        <div class="row">
            <nav aria-label="Move trough pages">
                <ul class="pagination justify-content-center">
                    <!-- if 1st page class ...disabled -->
                    <li (click)="prev_page()" class="page-item ">
                        <button class="page-link bg-warning text-dark border-warning">Previous</button>
                    </li>
                    <li class="page-item disabled">
                        <button class="page-link">{{get_page}}</button>
                    </li>
                    <!-- if last page class ...disabled -->
                    <li (click)="next_page()" class="page-item border-warning">
                        <button class="page-link bg-warning text-dark border-warning">Next</button>
                    </li>
                </ul>
            </nav>
        </div>


    </div>

</div>