.input-form {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.button-edit {
    
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
}
.card-car {
  cursor: pointer;
}