
.img-header{
  background-image: url(../../../public/bossman.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "magnetob";
  text-align: center;
  font-size: 5vw;
  color: white;
  text-decoration: underline;
}
header {
  background-color: #cc1b11;
}