@font-face {
  font-family: "magnetob"; /* set name */
  src: url(../../public/fonts/magnetob.ttf) format('truetype'); /* url of the font */
}
.bg {
    background-color: white;
}

.button-login {
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
  margin-right: 24px;
}