/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(../public/95.png);
    background-repeat: repeat;
    background-size: 5%;
    background-attachment: scroll;
}